doctype html
if (!pagination || pagination.num === 1)
    - pageTitle = title
else
    - pageTitle = "Page " + pagination.num + " | " + title

html
  head
    title= pageTitle
    link(rel='stylesheet', href='/assets/normalize.css')
    link(rel='stylesheet', href='/assets/hljs-github.css')
    link(rel='stylesheet', href='/assets/style.css')
    if (customScript)
        script!= customScript
  body
    .container
        header
            h1
                a(href="/")= site.title
            != contents

        if pagination
            //- a series of abbreviated posts
            each file in pagination.files
                article
                    header
                        h2
                            a(href="/"+file.path)= file.title
                        .time| Published 
                            time.published(datetime=file.date)= formatDate(file.date, "LL")
                    - if (file.less)
                        != file.less

                    a(href="/"+file.path) Read on →

            if (pagination.pages.length > 1)
                div
                    if pagination.previous
                        a(href="/"+pagination.previous.path) « Previous Page |
                    span!= "&nbsp;"
                    b
                        a(href="/"+path)= "Page "+pagination.num
                    if false
                        each page in pagination.pages
                            if (page.pagination.num == pagination.num)
                                b
                                    a(href="/"+page.path)= "Page "+page.pagination.num
                            else
                                a(href="/"+page.path)= "Page "+page.pagination.num
                            span!= "&nbsp;"
                    span!= "&nbsp;"
                    if pagination.next
                        a(href="/"+pagination.next.path) | Next Page »

        if collectionName
            //- a list of links to posts
            ul
                each file in collections[collectionName]
                    li
                        a(href="/"+file.path)= file.title
                        time.published(datetime=file.date)= formatDate(file.date)


        nav
            each widget in collections.widgets
                .widget!= widget.contents
