doctype html
if (pagination.num === 1)
    - pageTitle = title
else
    - pageTitle = "Page " + pagination.num + " | " + title

html
  head
    title= pageTitle
    link(rel='stylesheet', href='/assets/style.css')
    if (customScript)
        script!= customScript
  body
    .container
        header
            h1
                a(href="/")= site.title
            p!= contents

        section
            each file in pagination.files
                article
                    a(href="/"+file.path)= file.title
                    - if (file.less)
                        div!= file.less

            if (pagination.pages.length > 1)
                div
                    if pagination.previous
                        a(href="/"+pagination.previous.path) « Previous Page |
                    span!= "&nbsp;"
                    b
                        a(href="/"+path)= "Page "+pagination.num
                    if false
                        each page in pagination.pages
                            if (page.pagination.num == pagination.num)
                                b
                                    a(href="/"+page.path)= "Page "+page.pagination.num
                            else
                                a(href="/"+page.path)= "Page "+page.pagination.num
                            span!= "&nbsp;"
                    span!= "&nbsp;"
                    if pagination.next
                        a(href="/"+pagination.next.path) | Next Page »

        nav
            each widget in collections.widgets
                .widget!= widget.contents
