doctype html
html
  head
    title= title + " | " + site.title
    link(rel='stylesheet', href='/assets/style.css')
    if (customScript)
        script!= customScript
  body
    .container
        header
            h1
                a(href="/")= site.title

        article
            header
                h2
                    a(href="/"+path)= title
                .author
                    span.author-name= author
                    img(src=gravatar[author])
                time.published= date
                if (stats)
                    time.modified= stats.mtime

            section!= contents

        nav
            each widget in collections.widgets
                .widget!= widget.contents
