doctype html
html
  head
    title= title + " | " + site.title
    link(rel='stylesheet', href='/assets/normalize.css')
    link(rel='stylesheet', href='/assets/style.css')
    - if (customScript)
        script!= customScript
  body
    h1= title
    .author
        span.author-name= author || site.author
        img(src=gravatar[author || site.author])
    time= date
        - stats.mtime
    div!= contents
