doctype html
html
  head
    title= title + " | " + site.title
    link(rel='stylesheet', href='/style.css')
  body
    h1= title
    .author
        span.author-name= author
        img(src=gravatar[author])
    time= date
        - stats.mtime
    div!= contents
